# Solutions

### Session 2: variables and types

1. Perform the following calculation: result is 15168.443661658159

    * $\frac{4.156^{7.332} \cdot \sqrt{2.25}}{abs(4.35 / 1.28)}$

In [32]:
(4.156**7.332)*(2.25**0.5)/abs(4.35 / 1.28)

15168.443661658159

2. What's the result of this operation?

    * [(7 > 5) and (5 < 1)] or (8%3 == 2)

In [33]:
# without replacing the square brackets [] by parentheses (): [True]

wrong_answer = [(7 > 5) and (5 < 1)] or (8%3 == 2)

# replacing the square brackets [] by parentheses (): correct solution

right_answer = ((7 > 5) and (5 < 1)) or (8%3 == 2) 

print(f"Wrong answer: {wrong_answer}")
print(f"Right answer: {right_answer}")

Wrong answer: [False]
Right answer: True

3. Replace every vowel in your full name by `e`

In [36]:
"daniel".replace("a", "e").replace("i", "e")

'deneel'

### Session 3: strings, lists, and tuples

#### Exercises: strings.

1. Take "ABCDEFG" and add 7 `$` on each side

In [37]:
string_to_consider = "ABCDEFG"
string_to_consider.rjust(len(string_to_consider) + 7, "$").ljust(len(string_to_consider) + 14, "$")

'$$$$$$$ABCDEFG$$$$$$$'

2. Take "Hola" and add 5 `x` to the left and 11 `y` to the right

In [38]:
string_hola = "Hola"
string_hola.rjust(len(string_hola) + 5, "x").ljust(len(string_hola) + 16, "y")

'xxxxxHolayyyyyyyyyyy'

3. Save your Name and last name(s) as independent strings, and then build your full name using them.

In [39]:
name = "daniel"
last_name_1 = "garcia"
last_name_2 = "hernandez"

full_name = "daniel" + " " + "garcia" + " " + "hernandez"
full_name_1 = f"{name} {last_name_1} {last_name_2}"

# another formatting way for strings
full_name_2 = "{0} {1} {2}".format(name, last_name_1, last_name_2)

# print
print(full_name)
print(full_name_1)
print(full_name_2)

daniel garcia hernandez
daniel garcia hernandez
daniel garcia hernandez

4. Create the variables name, age, nationality, store your information on them, and include them in a string that a human can understand.

In [40]:
name = "daniel"
age = 33
nationality = "spanish"

f"Hi, my name is {name}, I'm {age} and I am {nationality}!"

"Hi, my name is daniel, I'm 33 and I am spanish!"

#### Exercises: lists and tuples

1. Build a list containing all the letters in the alphabet: ["a", "b", "c", ..., "z"]

In [47]:
alphabet_list = list("abcdefghijklmnopqrstuvwxyz")
alphabet_list

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

2. Build a list containing all the letter in the alphabet backwards: ["z", "y", ..., "a"]

In [42]:
alphabet_list_reverse = alphabet_list[::-1]
alphabet_list_reverse

['z',
 'y',
 'x',
 'w',
 'v',
 'u',
 't',
 's',
 'r',
 'q',
 'p',
 'o',
 'n',
 'm',
 'l',
 'k',
 'j',
 'i',
 'h',
 'g',
 'f',
 'e',
 'd',
 'c',
 'b',
 'a']

3. Build a list containing every second letter in the alphabet backwards: ["z", "x", ..., "b"]

In [43]:
alphabet_list[::-2]

['z', 'x', 'v', 't', 'r', 'p', 'n', 'l', 'j', 'h', 'f', 'd', 'b']

4. Build a list with all the vowels, another containing all the consonants. Build a list containing alphabet using them, in alphabetic order!

In [48]:
vowels = list("aeiou")
consonants = list("bcdfghjklmnpqrtvwxyz")

alphabet_messy = vowels + consonants

print("messy: ", alphabet_messy)

alphabet_messy.sort()

print("sorted: ", alphabet_messy)

messy:  ['a', 'e', 'i', 'o', 'u', 'b', 'c', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'm', 'n', 'p', 'q', 'r', 't', 'v', 'w', 'x', 'y', 'z']
sorted:  ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 't', 'u', 'v', 'w', 'x', 'y', 'z']

5. If a=1, b=2, and so on, how much do the letters in my name add up to? Who has the heaviest name? And the lightest?

In [ ]:
alphabet = "abcdefghijklmnopqrstuvwxyz"

name_value = (
    alphabet.index("d") + 
    alphabet.index("a") + 
    alphabet.index("n") + 
    alphabet.index("i") + 
    alphabet.index("e") + 
    alphabet.index("l")
)

print(name_value)