# Session 2: Variables and types

During the last session, we found a very typical error when we were passing strings as arguments in a function that were supposed to be numbers.

Python provides with error messages that can give us a hint of what's happenning and how to fix it.

## 0. Variables and objects

Variables and objects are the way we have to store and operate with data in Python. Variables tell Python where are we storing information in the memory, and Python interprets what type of information is there. 

Variables are *assigned* a value with `=`. 

Naming variables is usually a source of conflict in the real world. Try to always be as descriptive as possible about what a variable contains, always following these rules:
* Variables can't start with a number
* Variables can't contain special characters like @
* Variables can't be the Python reserved words (green words)

In Python, everything we create and store in memory is an object. Every variable we create is and object of a certain type, and objects usually have properties and methods.

Think of an car (object):
* It has properties: color, power, number of doors, price
* It has methods: open the door, break, accelerate, turn on lights, turn on AC, ...

Let's work with some of the most common objects, storing them into variables, and operating with them.

## 1. Numeric types

### 1.1 int
`int` objects represents Integers like 1, 3, 18756394.

We create them by using their usual representation in English.

In [1]:
num = 17

In [2]:
type(num)

int

In [3]:
17 + 14

31

In [4]:
a = 7
b = 17

a / b

0.4117647058823529

### 1.2 float

`float` objects represent numbers with a fractional part like 1.5, 3.141592, 1000000.0007, etc.

We create them like `int`s with a decimal part after the decimal dot

In [5]:
float_num = 17

# remember not to assign values to a variable named 'float' or you will override the behavior of the 'float()' function

In [6]:
type(float_num)

int

### Operations with numeric types

We can sum(`+`), substract(`-`), divide(`/`), multiply(`*`), and power (`**`)

In [7]:
A = 5
a = 6
b = 7.45

result = (a * b) / (b ** a)

result

0.0002614387068068006

We can also use floored quotient (`//`) and modulo/remainder (`%`)

In [8]:
float()

0.0

We can convert from `int` to `float` and viceversa

In [28]:
int(6.43)  # float to int

6

In [29]:
float(4)  # int to float

4.0

We can take the absolute value (or magnitude) of a numeric type by using `abs`

In [30]:
# I forgot this cell in our class:
# abs() will return the absolute value of a number -- the number without the sign

abs(4)

4

In [31]:
abs(-4)

4

## 2. Text-sequence type

### 2.1 str

`str` represents *strings* of text-sequences. Strings are immutable sequences.

We create strings in different ways, all of them with the same properties and methods.

In [10]:
str1 = 'single quotes'
str2 = "double quotes"
str3 = """
triple
quotes
can span 
several 
lines
"""

In [11]:
name = """DANiEL"""

name

'DANiEL'

Strings have different built-in methods like `upper()`, `lower()`, `capitalize()`

In [13]:
name = "Alex"

# some spoiler for our class on strings: formatting strings with f""
student_in_front_of_me = f"The student in front of me is {name}"

student_in_front_of_me

'The student in front of me is Alex'

In [14]:
print(f"upper() yields {name.upper()}")

print(f"lower() yields {name.lower()}")

print(f"capitalize() yields {name.capitalize()}")

upper() yields ALEX
lower() yields alex
capitalize() yields Alex

We can split strings according to a certain separator (default is space) using `split([sep])`.

The output of `split()` is a list

In [32]:
"Hello everyone, how's it going?".split()

['Hello', 'everyone,', "how's", 'it', 'going?']

In [33]:
# we can specify the character with which we want to split our string on
introduction = "dgarciah@faculty.ie.edu"

introduction.split("@")

['dgarciah', 'faculty.ie.edu']

When in need of replacing some character within a string we can use `replace(old, new)`

In [34]:
name = "Daniel Garcia"

name.replace("Daniel", "Best professor")
# mic drop

'Best professor Garcia'

If we need to remove characters at the end of a string we can use `strip([chars])` (default removes whitespace)

Use `lstrip` for left characters or `rstrip` for right characters

In [35]:
example = " hello, my name is Daniel. "

example.strip()

'hello, my name is Daniel.'

In [36]:
"#lstrip to remove characters on left".lstrip("#")

'lstrip to remove characters on left'

In [37]:
"rstrip to remove characters on left#".rstrip("#")

'rstrip to remove characters on left'

## 3. Boolean type

Booleans (`bool`) represent truth: `True` or `False`

In [39]:
5 == 7  # is this statement true? Not really

False

In [40]:
logic_result = type(5) == type(5.4)

logic_result  # we can store booleans in variables too

False

Booleans are assimilated as numbers: True is 1, False is 0

In [47]:
True == 1

True

In [48]:
False == 0

True

In [49]:
True + False

1

In [50]:
True + True

2

Booleans are the result of logic operations like `not`, `and`, `or`.

`not` negates the following statement:
* not True = False
* not False = True

In [51]:
not True

False

In [52]:
not False

True

`and` operations are True/False if **all** of the inputs are True/False

* True and True = True
* True and False = False
* False and True = False
* False and False = False

In [53]:
(type(4) == type(4.1)) and (not False)

False

In [54]:
country1 = "Spain"
country2 = "France"
condition = (country1 == "France") and (country2 == "Spain")

if condition == 1:
    print("do something")
else:
    print("do something else")

do something else

In [55]:
condition

False

In [56]:
not False

True



`and` operations are True/False if **all** of the inputs are True/False

* True and True = True
* True and False = False
* False and True = False
* False and False = False

`or` operations are True/False if **one** of the inputs are True/False

* True or True = True
* True or False = True
* False or True = True
* False or False = False

We can *compare* variables and expressions using logic operators
* `==` equal
* `!=` not equal
* `>` strictly greater than
* `>=` greater than or equal
* `<` strictly less than
* `<=` less than or equal
* `is` object identity
* `is not` negated object identity

## 4. Exercises

4.1. Perform the following calculation: result is 15168.443661658159

$$\frac{4.156^{7.332} \cdot \sqrt{2.25}}{abs(4.35 / 1.28)}$$

In [1]:
(4.156**7.332)*(2.25**0.5)/abs(4.35 / 1.28)

15168.443661658159

4.2. What's the result of this operation?

[(7 > 5) and (5 < 1)] or (8%3 == 2)

In [3]:
# without replacing the square brackets [] by parentheses ()

[(7 > 5) and (5 < 1)] or (8%3 == 2)

[False]

In [4]:
# without removing the square brackets []

((7 > 5) and (5 < 1)) or (8%3 == 2)

True

4.3. Replace every vowel in your full name by `e`

In [6]:
"daniel".replace("a", "e").replace("i", "e")

'deneel'