# Session 3. Strings, lists and tuples

### Recap from Session 2 on strings
* Strings can be defined with single, double and triple quotes
* Strings have a bunch of methods to apply on them like `split`, `replace`, `strip`, etc

## More Strings stuff

### More methods and functionalities to use on strings

We can check the length in characters of a string with `len`

In [4]:
# takes into account white space and symbols
str1 = "logitech%&/"

len(str1)

11

If we want to undo a `split()` we can use `join()` like this:

`join_character.join(list_of_items_to_join)`

`join`is the inverse of `split`

In [7]:
str1 = "daniel garcia hernandez"

str1_split = str1.split()
str1_split

['daniel', 'garcia', 'hernandez']

In [10]:
str1_split = str1.split(" ")

joint = "XXX"
joined_list = joint.join(str1_split)
joined_list

'danielXXXgarciaXXXhernandez'

What if we want to switch every character from lower to uppercase, and viceversa? 

We can use `swapcase()`!

In [15]:
def new_swapcase(string):
    return string.swapcase()

new_swapcase("dAnIeL")

'DaNiEl'

In [14]:
str1 = "DANIEL"

str1.swapcase()

'daniel'

Or doing it manually:

In [13]:
# exercise for y'all!

We learned that `strip, rstrip` and `lstrip` remove character on the sides of the string. 

If we want to add `n` whitespace characters and center our string within them, we can use `str.center()`

In [19]:
"X1X".center(8)

'  X1X   '

We can also add `n` whitespace only on one side and justify our string with `ljust` and `rjust`

In [23]:
"X1X".ljust(6, "0")

'X1X000'

In [22]:
"X1X".rjust(6, "0")

'000X1X'

These methods accept a second parameter as character to use instead of whitespace

In [33]:
string = "vivobook"

string.rjust(len(string)+3, "X").ljust(15, "0")

'XXXvivobook0000'

In [34]:
# adding a word or phrase
"HELLO".ljust(13, "h")

'HELLOhhhhhhhh'

And a similar method but to fill with zeros: `zfill(n)` will fill with zeros on the left until reaching a total length of `n`

In [40]:
str_num = "435"

str_num.zfill(9) == str_num.rjust(9, "0")

True

We can find strings within a string with `find()`. It will return the position in the original string at which the substring we're looking for starts.

In [41]:
"daniel garcia".find("ani")

1

In order to slice a string, we can use `[]` taking into account that Python is ZBI (Zero-based index)

- str[0] - first character
- str[-1] - last character
- str[n:] - substring from the n-th character including it, keep in mind the zero-based index
- str[:m] - substring to the m-th character without including it, or the first m characters
- str[n:m] ...

In [50]:
"philippe"[0]

'p'

In [49]:
"philippe"[-3]

'p'

In [51]:
"philippe"[-1]

'e'

In [54]:
# first 3 characters
"daniel"[:3]

'dan'

In [58]:
"daniel"[-3:]

'nie'

string[beginning:end:step]

In [67]:
"philippe"[4:6]

'ip'

In [63]:
"daniel"[::-2]

'lia'

In [64]:
# to print a string in mirror mode you use [::-1]

"daniel"[::-1]

'leinad'

### `+` and `*` in strings

We can **add** strings by using `+`. 

And we can **repeat** a string `n` by multiplying the string by `n`

In [69]:
name = "daniel"
last_name = "garcia"

name + " " + last_name

'daniel garcia'

In [70]:
"daniel" * 3

'danieldanieldaniel'

### Formatting strings

When we want to include **string representations** of other types, or when we want to create strings that adapt to the variables that we are creating, we use formatted strings.

* We can do it manually, knowing that strings can be summed with "+"
* We can use `str.format()`
* We can use `f""`

In [71]:
name = "Daniel"

f"My name is {name}!"

'My name is Daniel!'

In [77]:
"I am " + 33

TypeError: can only concatenate str (not "int") to str

In [83]:
pi = 3.141593

f"Pi with 3 decimal positions is {pi:.4f}"

'Pi with 3 decimal positions is 3.1416'

In [84]:
decimal_part_pi = pi - int(pi)

decimal_part_pi

0.14159299999999986

In [86]:
height = 1.78777777
positions = 3
f"I am {height:.{positions}f} m"

'I am 1.788 m'

### Exercises: strings. Help me solve this!

1. Take "ABCDEFG" and add 7 `$` on each side
2. Take "Hola" and add 5 `x` to the left and 11 `y` to the right
3. Save your Name and last name(s) as independent strings, and then build your full name using them.
4. Create the variables name, age, nationality, store your information on them, and include them in a string that a human can understand.

In [4]:
# 1. Take "ABCDEFG" and add 7 $ on each side
string_to_consider = "ABCDEFG"
string_to_consider.rjust(len(string_to_consider) + 7, "$").ljust(len(string_to_consider) + 14, "$")

'$$$$$$$ABCDEFG$$$$$$$'

In [8]:
# 2. Take "Hola" and add 5 x to the left and 11 y to the right
string_hola = "Hola"
string_hola.rjust(len(string_hola) + 5, "x").ljust(len(string_hola) + 16, "y")

'xxxxxHolayyyyyyyyyyy'

In [10]:
# 3. Save your Name and last name(s) as independent strings, and then build your full name using them.
name = "daniel"
last_name_1 = "garcia"
last_name_2 = "hernandez"

full_name = "daniel" + " " + "garcia" + " " + "hernandez"
full_name_1 = f"{name} {last_name_1} {last_name_2}"
# another formatting way for strings
full_name_2 = "{0} {1} {2}".format(name, last_name_1, last_name_2)

# print
print(full_name)
print(full_name_1)
print(full_name_2)

daniel garcia hernandez
daniel garcia hernandez
daniel garcia hernandez

In [11]:
# 4. Create the variables name, age, nationality, store your information on them, 
# and include them in a string that a human can understand

name = "daniel"
age = 33
nationality = "spanish"

f"Hi, my name is {name}, I'm {age} and I am {nationality}!"

"Hi, my name is daniel, I'm 33 and I am spanish!"

## Lists and tuples

### Lists

Lists are the most basic `ordered` and `mutable` container in Python. We define them with comma-separated items within square brackets:

`[1, 2, 3]`

In [88]:
lst = [1, 2, 3]

lst

[1, 2, 3]

Lists not only contain numbers, but rather they can contain ANY object in Python, and a mix of them.

Lists can contain lists. Or tuples, or dataframes, or files.

In [97]:
list_1 = [1, 1.5, "hola", True, [1, 2, 3]]

We can find the position or `index` of an element in a list using `index(element)`

In [98]:
list_1.index([1, 2, 3])

list_1[4][2] = 4

In [100]:
list_1[4][2] = 4

list_1

[1, 1.5, 'hola', True, [1, 2, 4]]

In [95]:
list_1[4] = [1, 2, 4]

list_1

[1, 1.5, 'hola', True, [1, 2, 4]]

In [102]:
lst = ["daniel", "darcia"]
last_name_2 = "hernandez"

lst.append(last_name_2)

lst

['daniel', 'darcia', 'hernandez']

Just as we did with strings we can *add* lists and *multiply* them by a scalar.

In [103]:
[1, 2, 3] + ["a", "b", "c"]

[1, 2, 3, 'a', 'b', 'c']

In [104]:
["a", "b", "c"] * 4

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

Slicing lists is super powerful, and not only we can do the same slicing we did with strings, but also we can use a third parameter (`step`): `list[start_inc:end_not_inc:step`

In [107]:
lst_a = [1, 2, 3, 4, 5]

lst_a[2:4]

[3, 4]

We can find the total length (or items included) in the list by using `len(list)`

In [108]:
len(lst_a)

5

We can `mutate` lists by accessing elements by their index, and changing it:

In [109]:
a = [1, 2, 6]

a[2] = "h"

a

[1, 2, 'h']

We can add elements to an existing list by using `append(element)`. It will be added at the end of the list.

In [120]:
str1 = "daniel"

str1.replace("a", "1")

'd1niel'

In [116]:
str1

'daniel'

In [117]:
b = [1, 2, 3]

b.append(4)

In [118]:
b

[1, 2, 3, 4]

In order to sort a list, we use the `sort()` method. It sorts in place!

* This means that `sort()` will change the content in memory at which our list is pointing. it will mutate the variable without saying anything!

In [136]:
h = [8, 1, 5]

b = [8, 1, 5]

h = h.sort()

In [135]:
str(h_sorted)

'None'

In [133]:
list(h_sorted)

TypeError: 'NoneType' object is not iterable

In [131]:
b

[1, 5, 8]

### Tuples

Tuples are another form of container in Python. We define them with comma-separated items within parentheses.

The main difference between `tuples` and `lists` is that `tuples` **are not mutable**. Once they're created, they stay as they were.

Tuples are used natively in Python when a function `return`s several items. Actually what python does is to return a single tuple containing each item:

### Exercises: lists and tuples. Help me solve this!

1. Build a list containing all the letters in the alphabet: ["a", "b", "c", ..., "z"]
2. Build a list containing all the letter in the alphabet backwards: ["z", "y", ..., "a"]
3. Build a list containing every second letter in the alphabet backwards: ["z", "x", ..., "b"]
4. Build a list with all the vowels, another containing all the consonants. Build a list containing alphabet using them, in alphabetic order!
5. If a=1, b=2, and so on, how much do the letters in my name add up to? Who has the heaviest name? And the lightest?