# Session 5: Asynchronous exercises

## Exercise 1

Remember our class about conditionals and loops, where we were checking conditions (with only True/False value) and depending on the value, take different actions.

```Python
if condition:  # if condition is True
    do_something
else:  # if it's not True
    do_something_else
```

Also, and since the code is read from top to bottom, evaluating each statement once at a time, if a condition is included in a posterior condition -- this is, the second one is more restrictive -- then only the first one will be evaluated in a `if-elif-else` structure.

In [1]:
a = 1

if a < 4:  # True
    print("a < 4")  # This is going to be printed
elif a < 2:  # True, but already found a previous True to go through
    print("a < 2")  # This one should be printed too, since a < 2!!
else:
    print("a >= 4")

a < 4

The previous snippet should've printed `a < 2` since `a = 1`. But since `a < 4` is `True` and evaluated *before* the `elif`, then the elif in this case is not evaluated.

The key here is to evaluate the *more restrictive* condition first in the `if`, and then reduce the restrictions with `elif`s.

In [2]:
a = 1

if a < 2:  # most restrictive condition
    print("a < 2")
elif a < 4:  # second most restrictive condition
    print("a < 4")
else:
    print("a >= 4")

a < 2

Taking this into account, please build a classic piece of code --Fizzbuzz.

FizzBuzz:
* Print all the numbers from 1 to 100, with the following conditions:
    - If the number is divisible by 3, print `Fizz` instead of the number
    - If the number is divisible by 5, print `Buzz` instead of the number
    - If the number is divisible by 3 and 5 both, print `FizzBuzz` instead of the number
    
The solution looks like this:
* 1, 2, Fizz, 4, Buzz, Fizz, ...
    
(Yes, this exercise was supposed to be done in class, but who doesn't like a challenge?)

In [3]:
# FizzBuzz

for num in range(1, 101):
    if num % 5 == 0 and num % 3 == 0:
        print("FizzBuzz")
    elif num % 3 == 0:
        print("Fizz")
    elif num % 5 == 0:
        print("Buzz")
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

## Exercise 2

Please find attached a list containing tuples with the following information:

```Python
[ 
    ("last_name_1", "name_1", "email_1"), 
    ("last_name_2", "name_2", "email_2"), 
    ...
    ("last_name_n", "name_n", "email_n"), 
]
```

In [4]:
class_list = [
    ('ADROER I GRAS', 'MIREIA', 'mireia.adroer@student.ie.edu'),
    ('AGRAWAL', 'KRISHNA', 'krishnaagrawal@student.ie.edu'),
    ('ALBUS', 'NIKLAS', 'niklas.albus@student.ie.edu'),
    ('ALMAKAINZI', 'JUMANA', 'almakjfa@student.ie.edu'),
    ('ASSMUTH OREJA', 'CELIA', 'celia.assmuthoreja@student.ie.edu'),
    ('BAREUTHER', 'ROBERT ELLIS', 'rbareuther@student.ie.edu'),
    ('BETANCUR BOTERO', 'JUAN LUIS', 'juan.betancur@student.ie.edu'),
    ('BLETHON', 'PIERRE', 'pierreblethon@student.ie.edu'),
    ('BOLHUIS', 'QUIRIJN', 'quirijnbolhuis@student.ie.edu'),
    ('CILIA', 'MARTINA', 'martina.cilia@student.ie.edu'),
    ('CÁCERES GONZÁLEZ', 'ALFREDO DANIEL', 'acaceresg@student.ie.edu'),
    ('DARWICHE HAMMOUD', 'NOUR', 'nourdarwiche@student.ie.edu'),
    ('DE MAINTENANT', 'ANTOINE', 'antoinedemaintenant@student.ie.edu'),
    ('DRAGO BRAGA', 'CONSTANÇA', 'constanca_braga@student.ie.edu'),
    ('DZHANERYAN', 'MIKAEL', 'dzhaneryan.mikael@student.ie.edu'),
    ('D´ELIA CERCHI', 'EMILIANO', 'emiliano.delia@student.ie.edu'),
    ('ELMONOFY', 'ALI', 'ali.elmonofy@student.ie.edu'),
    ('ELREFAIE', 'SEIF MOHAMED EMAM', 'seifelrefaie2021@student.ie.edu'),
    ('FAYOS GARCÍA', 'EMMA', 'emma.fayos@student.ie.edu'),
    ('FERMIN', 'MARIO HERNAN', 'mario.fermin@student.ie.edu'),
    ('GARATE ARIAS', 'DIEGO', 'diego.garate@student.ie.edu'),
    ('GAVALI SUNIL', 'ADITYA', 'aditya.gavali@student.ie.edu'),
    ('GONZALEZ GRANERO', 'IGNACIO', 'ignaciogonzalez@student.ie.edu'),
    ('GONZÁLEZ BOHÓRQUEZ', 'IGNACIO', 'ignagabo1997@student.ie.edu'),
    ('GROSS', 'ALEXANDER', 'alexander.gross@student.ie.edu'),
    ('HAO', 'SHUANGYAN', 'shuangyan.hao@student.ie.edu'),
    ('HOPKINS PÉREZ', 'MIGUEL RICARDO', 'miguel@student.ie.edu'),
    ('HUMBERT RUSODIMOS', 'IVAN', 'ihumbert@student.ie.edu'),
    ('HUPPERICH', 'MANUEL', 'hupperich.manuel@student.ie.edu'),
    ('KERNO GALLARDO', 'PHILIPPE', 'phil.kerno@student.ie.edu'),
    ('MAHMOUD', 'KHALED', 'khaled.mahmoud@student.ie.edu'),
    ('MALDONADO MORENO', 'JUAN MANUEL', 'juan.manuel@student.ie.edu'),
    ('MARINA HERRERA', 'MANUEL', 'manuel.marina@student.ie.edu'),
    ('MARKOWETZ', 'ANNA', 'anna.markowetz@student.ie.edu'),
    ('MATA SARAVIA', 'DIEGO', 'diego.mata@student.ie.edu'),
    ('MATHAY', 'ALEXANDRA MARIA O.', 'alexandra.mathay@student.ie.edu'),
    ('MATSUI', 'SHOICHI', 'shoichi.matsui@student.ie.edu'),
    ('MISSURA DONOSO', 'MARIA GRACIELA', 'maria.missura@student.ie.edu'),
    ('MONTALVO PUCCINI', 'ORLANDO', 'orlando.montalvo@student.ie.edu'),
    ('NEBULONI', 'MARCO', 'marco.nebuloni@student.ie.edu'),
    ('PALACÍN GÓMEZ', 'GUILLERMO', 'gpalacin@student.ie.edu'),
    ('RAAD', 'NADINE', 'nadine.raad@student.ie.edu'),
    ('RIBES', 'PAUL', 'paulribes@student.ie.edu'),
    ('RIGAUDEAU', 'TIMOTHÉ RAFFAELLO ANTOINE', 'timorigaudeau@student.ie.edu'),
    ('ROSSIER', 'PATRICK', 'patrick.rossier@student.ie.edu'),
    ('SCHEIBLING', 'DIEGO', 'diego.scheibling@student.ie.edu'),
    ('SEYNAEVE', 'ALICE', 'aliceseynaeve@student.ie.edu'),
    ('STENGER', 'THOMAS AUGUST MARIA', 'thomas.stenger@student.ie.edu'),
    ('SUÁREZ PINTO', 'FERNANDO', 'fernando.suarez@student.ie.edu'),
    ('TRUYTS', 'THOMAS', 'thomas.truyts@student.ie.edu'),
    ('VAN GINDERACHTER', 'PALOMA', 'p.vanginderachter@student.ie.edu'),
    ('VON STOCKAR-SCHERER-CASTELL', 'ERIC DANIEL MARC', 'evstockar@student.ie.edu'),
    ('VON WEDEMEYER', 'HANS-CONRADT', 'hc.vonwedemeyer@student.ie.edu'),
    ('WOLFGANG HUMPERT', 'ALEXANDER', 'alexhumpert@student.ie.edu'),
    ('YOSHIKAWA', 'TAKUMI', 'takumi.yoshikawa@student.ie.edu'),
    ('ZOUROB', 'YOUSSEF', 'youssef.zourob@student.ie.edu')
]

Remember that we can nest containers, and that accessing them is as easy as follows:
* 1st item of the list: ```class_list[0]```. Returns ```('ADROER I GRAS', 'MIREIA', 'mireia.adroer@student.ie.edu')```
* 3rd item in the second item of the list: ```class_list[1][2]```. Returns ```'krishnaagrawal@student.ie.edu'```

And so on...

Now comes the fun.

We can loop through the list to check for example the students with more than 1 name:

In [5]:
# students with more than 1 name:

students_several_names = []

for student in class_list:
    if " " in student[1]:  # having several means having spaces in the name, right?
        students_several_names.append(student)
        
students_several_names

[('BAREUTHER', 'ROBERT ELLIS', 'rbareuther@student.ie.edu'),
 ('BETANCUR BOTERO', 'JUAN LUIS', 'juan.betancur@student.ie.edu'),
 ('CÁCERES GONZÁLEZ', 'ALFREDO DANIEL', 'acaceresg@student.ie.edu'),
 ('ELREFAIE', 'SEIF MOHAMED EMAM', 'seifelrefaie2021@student.ie.edu'),
 ('FERMIN', 'MARIO HERNAN', 'mario.fermin@student.ie.edu'),
 ('HOPKINS PÉREZ', 'MIGUEL RICARDO', 'miguel@student.ie.edu'),
 ('MALDONADO MORENO', 'JUAN MANUEL', 'juan.manuel@student.ie.edu'),
 ('MATHAY', 'ALEXANDRA MARIA O.', 'alexandra.mathay@student.ie.edu'),
 ('MISSURA DONOSO', 'MARIA GRACIELA', 'maria.missura@student.ie.edu'),
 ('RIGAUDEAU', 'TIMOTHÉ RAFFAELLO ANTOINE', 'timorigaudeau@student.ie.edu'),
 ('STENGER', 'THOMAS AUGUST MARIA', 'thomas.stenger@student.ie.edu'),
 ('VON STOCKAR-SCHERER-CASTELL',
  'ERIC DANIEL MARC',
  'evstockar@student.ie.edu')]

Or we can print the number of characters long of the name if the name is longer than 10 characters:

In [6]:
for student in class_list:
    length_name = len(student[1])
    if length_name > 10:
        print(length_name)

12
14
17
12
14
11
18
14
25
19
16
12

### 2.1. Who has the longest name? And the longest last name? And the shortest email?

Remember that we can create an auxiliar variable outside of the loop that can be the one containing the current name, and if the new name in the loop is longer than the one stored in the auxiliary variable, we can change the value of the auxiliary variable to the newest and longest name

In [7]:
# longest name
longest_name = ""
for student in class_list:
    name = student[1]
    if len(longest_name) < len(name):
        longest_name = name
        
print(f"The longest name is: {longest_name}")

# longest last name
longest_last_name = ""
for student in class_list:
    last_name = student[0]
    if len(longest_last_name) < len(last_name):
        longest_last_name = last_name
        
print(f"The longest last name is: {longest_last_name}")

# shortest email
shortest_email = "a" * 1000
for student in class_list:
    email = student[2]
    if len(shortest_email) > len(email):
        shortest_email = email
        
print(f"The shortest email is: {shortest_email}")

The longest name is: TIMOTHÉ RAFFAELLO ANTOINE
The longest last name is: VON STOCKAR-SCHERER-CASTELL
The shortest email is: miguel@student.ie.edu

### 2.2. Create a list containing all the students with symbols in their email

All emails have `@` and `.` so don't check for those, but rather `-`, `_`, etc

In [8]:
# list of students with symbols in their email different than @ and .

students_with_symbols = []
allowed_characters = "abcdefghijklmnopqrstuvwxyz0123456789@."

for student in class_list:
    email = student[2]
    for character in email:
        if character not in allowed_characters:
            students_with_symbols.append(student)
            
students_with_symbols

[('DRAGO BRAGA', 'CONSTANÇA', 'constanca_braga@student.ie.edu')]

### 2.3. Create a list of students who have their full name (name and last name) in their email

Keep in mind the differences in formats between names and last names (upper) and emails (lower).

In [9]:
# list of students with full name in email
name_in_email = []

for student in class_list:
    if (student[1].lower() in student[2]) and (student[0].lower() in student[2]):
        name_in_email.append(student)
        
name_in_email

[('AGRAWAL', 'KRISHNA', 'krishnaagrawal@student.ie.edu'),
 ('ALBUS', 'NIKLAS', 'niklas.albus@student.ie.edu'),
 ('BLETHON', 'PIERRE', 'pierreblethon@student.ie.edu'),
 ('BOLHUIS', 'QUIRIJN', 'quirijnbolhuis@student.ie.edu'),
 ('CILIA', 'MARTINA', 'martina.cilia@student.ie.edu'),
 ('DZHANERYAN', 'MIKAEL', 'dzhaneryan.mikael@student.ie.edu'),
 ('ELMONOFY', 'ALI', 'ali.elmonofy@student.ie.edu'),
 ('GROSS', 'ALEXANDER', 'alexander.gross@student.ie.edu'),
 ('HAO', 'SHUANGYAN', 'shuangyan.hao@student.ie.edu'),
 ('HUPPERICH', 'MANUEL', 'hupperich.manuel@student.ie.edu'),
 ('MAHMOUD', 'KHALED', 'khaled.mahmoud@student.ie.edu'),
 ('MARKOWETZ', 'ANNA', 'anna.markowetz@student.ie.edu'),
 ('MATSUI', 'SHOICHI', 'shoichi.matsui@student.ie.edu'),
 ('NEBULONI', 'MARCO', 'marco.nebuloni@student.ie.edu'),
 ('RAAD', 'NADINE', 'nadine.raad@student.ie.edu'),
 ('RIBES', 'PAUL', 'paulribes@student.ie.edu'),
 ('ROSSIER', 'PATRICK', 'patrick.rossier@student.ie.edu'),
 ('SCHEIBLING', 'DIEGO', 'diego.scheibling@student.ie.edu'),
 ('SEYNAEVE', 'ALICE', 'aliceseynaeve@student.ie.edu'),
 ('TRUYTS', 'THOMAS', 'thomas.truyts@student.ie.edu'),
 ('YOSHIKAWA', 'TAKUMI', 'takumi.yoshikawa@student.ie.edu'),
 ('ZOUROB', 'YOUSSEF', 'youssef.zourob@student.ie.edu')]

### 2.4. Create a list of student's information with the following format:

```Python
[
    "name_1 last_name_1, email_1",
    "name_2 last_name_2, email_2",
    ...
]
```

And please **C**apitalize the name and last name. Example:

```Python
[
    'Juan Luis Betancur Botero, juan.betancur@student.ie.edu',
    'Pierre Blethon, pierreblethon@student.ie.edu',
    'Quirijn Bolhuis, quirijnbolhuis@student.ie.edu',
    'Martina Cilia, martina.cilia@student.ie.edu',
    'Alfredo Daniel Cáceres González, acaceresg@student.ie.edu',
    'Nour Darwiche Hammoud, nourdarwiche@student.ie.edu',
    'Antoine De Maintenant, antoinedemaintenant@student.ie.edu',
]
```

In [10]:
# list of students info as strings
info_list = []

for student in class_list:
    
    # capitalizing names
    names = student[1].split()
    names_capitalized = []
    for name in names:
        names_capitalized.append(name.capitalize())
    name_cap = " ".join(names_capitalized)
    
    
    # capitalizing last names
    last_names = student[0].split()
    last_names_capitalized = []
    for last_name in last_names:
        last_names_capitalized.append(last_name.capitalize())
    last_name_cap = " ".join(last_names_capitalized)
    
    formatted_info = f"{name_cap} {last_name_cap}, {student[2]}"
    
    info_list.append(formatted_info)
    
info_list

['Mireia Adroer I Gras, mireia.adroer@student.ie.edu',
 'Krishna Agrawal, krishnaagrawal@student.ie.edu',
 'Niklas Albus, niklas.albus@student.ie.edu',
 'Jumana Almakainzi, almakjfa@student.ie.edu',
 'Celia Assmuth Oreja, celia.assmuthoreja@student.ie.edu',
 'Robert Ellis Bareuther, rbareuther@student.ie.edu',
 'Juan Luis Betancur Botero, juan.betancur@student.ie.edu',
 'Pierre Blethon, pierreblethon@student.ie.edu',
 'Quirijn Bolhuis, quirijnbolhuis@student.ie.edu',
 'Martina Cilia, martina.cilia@student.ie.edu',
 'Alfredo Daniel Cáceres González, acaceresg@student.ie.edu',
 'Nour Darwiche Hammoud, nourdarwiche@student.ie.edu',
 'Antoine De Maintenant, antoinedemaintenant@student.ie.edu',
 'Constança Drago Braga, constanca_braga@student.ie.edu',
 'Mikael Dzhaneryan, dzhaneryan.mikael@student.ie.edu',
 'Emiliano D´elia Cerchi, emiliano.delia@student.ie.edu',
 'Ali Elmonofy, ali.elmonofy@student.ie.edu',
 'Seif Mohamed Emam Elrefaie, seifelrefaie2021@student.ie.edu',
 'Emma Fayos García, emma.fayos@student.ie.edu',
 'Mario Hernan Fermin, mario.fermin@student.ie.edu',
 'Diego Garate Arias, diego.garate@student.ie.edu',
 'Aditya Gavali Sunil, aditya.gavali@student.ie.edu',
 'Ignacio Gonzalez Granero, ignaciogonzalez@student.ie.edu',
 'Ignacio González Bohórquez, ignagabo1997@student.ie.edu',
 'Alexander Gross, alexander.gross@student.ie.edu',
 'Shuangyan Hao, shuangyan.hao@student.ie.edu',
 'Miguel Ricardo Hopkins Pérez, miguel@student.ie.edu',
 'Ivan Humbert Rusodimos, ihumbert@student.ie.edu',
 'Manuel Hupperich, hupperich.manuel@student.ie.edu',
 'Philippe Kerno Gallardo, phil.kerno@student.ie.edu',
 'Khaled Mahmoud, khaled.mahmoud@student.ie.edu',
 'Juan Manuel Maldonado Moreno, juan.manuel@student.ie.edu',
 'Manuel Marina Herrera, manuel.marina@student.ie.edu',
 'Anna Markowetz, anna.markowetz@student.ie.edu',
 'Diego Mata Saravia, diego.mata@student.ie.edu',
 'Alexandra Maria O. Mathay, alexandra.mathay@student.ie.edu',
 'Shoichi Matsui, shoichi.matsui@student.ie.edu',
 'Maria Graciela Missura Donoso, maria.missura@student.ie.edu',
 'Orlando Montalvo Puccini, orlando.montalvo@student.ie.edu',
 'Marco Nebuloni, marco.nebuloni@student.ie.edu',
 'Guillermo Palacín Gómez, gpalacin@student.ie.edu',
 'Nadine Raad, nadine.raad@student.ie.edu',
 'Paul Ribes, paulribes@student.ie.edu',
 'Timothé Raffaello Antoine Rigaudeau, timorigaudeau@student.ie.edu',
 'Patrick Rossier, patrick.rossier@student.ie.edu',
 'Diego Scheibling, diego.scheibling@student.ie.edu',
 'Alice Seynaeve, aliceseynaeve@student.ie.edu',
 'Thomas August Maria Stenger, thomas.stenger@student.ie.edu',
 'Fernando Suárez Pinto, fernando.suarez@student.ie.edu',
 'Thomas Truyts, thomas.truyts@student.ie.edu',
 'Paloma Van Ginderachter, p.vanginderachter@student.ie.edu',
 'Eric Daniel Marc Von Stockar-scherer-castell, evstockar@student.ie.edu',
 'Hans-conradt Von Wedemeyer, hc.vonwedemeyer@student.ie.edu',
 'Alexander Wolfgang Humpert, alexhumpert@student.ie.edu',
 'Takumi Yoshikawa, takumi.yoshikawa@student.ie.edu',
 'Youssef Zourob, youssef.zourob@student.ie.edu']

### 2.5. Hot exercise!

Let's assign a number to each student, indicating how many different letters their name has.

For example:
* Somebody called "Pepe" would have a number of 2, since they would only have 2 different letters: "p" and "e".
* Somebody called "Daniel" would have a number of 6, since every letter it their name is unique.
* Somebody called "Jumana" would have a number of 5, since the "a" is repeated

**Hint**: loop through the characters in the name and store them iteratively in a list, if the character is in the list, you can use `continue` and move on to the next character in the name; if not, you can store the letter in the list.

In [11]:
# very caliente!

name_ratings = []

for student in class_list:
    name = student[1]
    unique_letters_in_name = []
    for letter in name:
        if letter in unique_letters_in_name:
            continue
        else:
            unique_letters_in_name.append(letter)
    name_ratings.append((name, len(unique_letters_in_name)))
    
name_ratings

[('MIREIA', 5),
 ('KRISHNA', 7),
 ('NIKLAS', 6),
 ('JUMANA', 5),
 ('CELIA', 5),
 ('ROBERT ELLIS', 9),
 ('JUAN LUIS', 8),
 ('PIERRE', 4),
 ('QUIRIJN', 6),
 ('MARTINA', 6),
 ('ALFREDO DANIEL', 10),
 ('NOUR', 4),
 ('ANTOINE', 6),
 ('CONSTANÇA', 7),
 ('MIKAEL', 6),
 ('EMILIANO', 7),
 ('ALI', 3),
 ('SEIF MOHAMED EMAM', 10),
 ('EMMA', 3),
 ('MARIO HERNAN', 9),
 ('DIEGO', 5),
 ('ADITYA', 5),
 ('IGNACIO', 6),
 ('IGNACIO', 6),
 ('ALEXANDER', 7),
 ('SHUANGYAN', 7),
 ('MIGUEL RICARDO', 12),
 ('IVAN', 4),
 ('MANUEL', 6),
 ('PHILIPPE', 5),
 ('KHALED', 6),
 ('JUAN MANUEL', 8),
 ('MANUEL', 6),
 ('ANNA', 2),
 ('DIEGO', 5),
 ('ALEXANDRA MARIA O.', 12),
 ('SHOICHI', 5),
 ('MARIA GRACIELA', 9),
 ('ORLANDO', 6),
 ('MARCO', 5),
 ('GUILLERMO', 8),
 ('NADINE', 5),
 ('PAUL', 4),
 ('TIMOTHÉ RAFFAELLO ANTOINE', 13),
 ('PATRICK', 7),
 ('DIEGO', 5),
 ('ALICE', 5),
 ('THOMAS AUGUST MARIA', 11),
 ('FERNANDO', 7),
 ('THOMAS', 6),
 ('PALOMA', 5),
 ('ERIC DANIEL MARC', 10),
 ('HANS-CONRADT', 10),
 ('ALEXANDER', 7),
 ('TAKUMI', 6),
 ('YOUSSEF', 6)]

### 2.6. It's 2054
Email service provider companies now charge by the character: 1 million EUR per character. 

How much would have IE paid for this class? 

Hint: 
```
sum([1, 2, 3]) 
>> 6
```

In [12]:
# money, money, money

length_emails = []

for student in class_list:
    email = student[2]
    length_emails.append(len(email))
    
total_cost = sum(length_emails)

print(f"Total cost: €{total_cost}M")

Total cost: €1568M